@import 'utilities/extends',
        'utilities/functions',
        'utilities/index',
        'utilities/mixins',
        'utilities/variables',
        'base/base',
        'base/index',
        'base/normalize',
        'components/buttons',
        'components/forms',
        'components/grid',
        'components/images',
        'components/index',
        'components/navigation',
        'components/typography',
        url('https://fonts.googleapis.com/css?family=Open+Sans');

$white: #fff;
$top-teal: #7de8c8;
$ubiqui-blue: #74daf7;
$error-red: #f77474;
$warning-orange: #ff704c;
$info-purple: #965dad;
$success-green: #65ba64;
$color-text: #868686;

$open-sans: 'Open Sans', sans-serif;

$max-width: 1400px;

$media-break: 769px;

$breakpoints: (
  'xs': 575px,
  'sm': 576px,
 'med': 768px,
  'lg': 992px,
  );

// Maps
  $themes: (
  'default': #74daf7,
  'success': #65ba64,
  'error': #f77474,
  'warning': #ff704c,
  'info': #965dad,
  );

  // mixins
  @mixin center($w) {
    width: $w;
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
  }

  @mixin flex-it (
    $disp: flex,
    $dir: null,
    $wrap: null,
    $just: null) {
      display: $disp ;
      flex-direction: $dir;
      flex-wrap: $wrap;
      justify-content: $just;
      @content;
  }

    // @mixin mq($break) {
    // $value: map-get($breakpoints, $break);
    // $sm: map-get($breakpoints, 'sm');
    //
    //  @if $value == null {
    //         @error " #{$break} is not a valid breakpoint name"
    //         }
    //
    //   @else if $value < $sm {
    //   @media (max-width: $value) {
    //           @content;
    //           }
    //       }
    //   @else {
    //         @media (min-width: $value) {
    //           @content;
    //       } } }

    @mixin themes($map) {
      @each $theme,
        $color in $map {
          &#{$theme} {
            background-color: $color;
            color: $white;
            text-transform: uppercase;
            font-size: 1.2em;
            font-weight: 600;
            padding: 15px;
            border-radius: 8px;
            margin-top: 30px;
            &:hover {
              background-color: lighten($color, 15%);
              cursor: pointer;
            }
        }
    }
  }

@mixin grid-div {
  padding: 15px;
  border-radius: 8px;
  margin-top: 10px;
  @content;
}

/*--global--*/
* {
  box-sizing: border-box;
  // border: 1px solid red;
}
menu,
ol,
ul {
    padding: 0;
    margin: 0;
}
dd {
    margin: 0;
}
.container {
  @include center(90%);
  text-align: center;
  font-family: $open-sans;
  color: $color-text;
  background-color: $white;
}

.grid__row {
  margin-bottom: 70px;
}
  .grid__col--3,
  .grid__col--9,
  .grid__col--12 {
   margin-top:  50px;
 }

/*----Navigation styles----*/
@media (min-width: 769px) {
  .grid__row {
    @include flex-it($dir: row);
    justify-content: space-between;
    align-items: center;
  }
}

.nav {
  ul {
    padding: 0;
    margin: 0;
  }
  @media (min-width: $media-break) {
    @include flex-it($dir: row);
    justify-content: space-around;
  }
}

.nav__item {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;

  a {
    color: $color-text;
    text-decoration: none;
    text-align: center;
    font-size: 1.4em;
    padding: 10px 15px;
    display: block;
  }
    a:hover {
      background-color: $top-teal;
      border-radius: 5px;
      color: $white;
  }
    @media (min-width: $media-break) {
    padding: 15px;
  }
}

.link {
  color: $ubiqui-blue;
  font-weight: bold;
  text-decoration: none;
}
//Typography
.headline--secondary {
  text-align: left;
  font-size: 1.2em;
  font-weight: 200;
  margin: 0;
}
.headline--primary {
  width: 80%;
  padding-left: 30px;
  color: $top-teal;
  text-align: left;
  line-height: 1em;
  font-size: 2.1em;
  font-weight: bolder;
}
p {
  text-align: justify;
  font-size: 1.1em;
  line-height: 1.5em;
  padding-bottom: 25px;
}
.blockquote {
  font-style: italic;
  font-size: 1.5em;
  line-height: 1.4em;
  text-align: justify;
  padding-left: 25px;
  border-radius: 5px;
  border-left: 10px solid $top-teal;
}
//layout


//  Form
.form {
  @include flex-it($dir: column, $wrap: wrap);
    .img--avatar {
      align-self: center;
    }
}

.form__label--hidden {
display: none;
}

.form__input {
width: 100%;
border-style: none;
border-bottom: 10px solid $top-teal;
font-size: 1em;
outline: 0;
opacity: 1.0;
padding: 10px;
margin-bottom: 15px;
display: block;
}

// images
.img--avatar {
  margin-bottom: 30px;
}
.img--frame {
  padding: 15px;
  border: 1px solid #aaa;
  margin: 30px 0;
}

// buttons
.btn-- {
  @include themes($themes);
}
@media (min-width: 769px) {
  .grid__col--12 button {
  width: 15%;
}
}

// grid
.grid__col--4 {
  padding: 50px 0;
  @media (min-width: 769px) {
    width: 30%;
    padding: 0;
    flex-basis: 32%;
  }
}

.grid__col--12 {
  @include flex-it($dir: column, $wrap: wrap);
}

@media (min-width: 769px) {
  .grid__ {
    &col--12 {
      @include flex-it($dir: row);
      width: 100%;
      justify-content: space-around;
    }
    &col--6 {
      flex: 2 50%;
      margin: 5px;
    }

    &col--8 {
      flex: 2;
      margin: 5px;
    }
    &col--4 {
      flex: 1;
      margin: 5px;
    }
    &col--3 {
      flex: 4 25%;
      margin: 5px;
    }
    &col--5 {
      flex-grow: 1;
      margin: 5px;
    }
    &col--5 + &col--7 {
      flex-grow: 2;
      margin: 5px;
    }
  }
  .grid__row > .grid__col--7 {
    flex: 2;
    margin: 5px;
  }

}

.grid__col--12.theme__colors {
  @include grid-div;
  background-color: lighten($top-teal, 10%);
  @media (min-width: 769px) {
    flex: 1 100%;
  }
}
.grid__col--6.theme__colors {
  @include grid-div;
  background-color: darken($ubiqui-blue, 25%);
}
.grid__col--4.theme__colors {
  @include grid-div;
  background-color: lighten($ubiqui-blue, 10%);
}
.grid__col--3.theme__colors {
  @include grid-div;
  background-color: lighten($info-purple, 20%);
}
.grid__col--5.theme__colors {
  @include grid-div;
  background-color: lighten($success-green, 10%);
}
.grid__col--7.theme__colors {
  @include grid-div;
  background-color: lighten($error-red, 10%);
}
.grid__col--8.theme__colors {
  @include grid-div;
  background-color: lighten($warning-orange, 10%);
}
