// mixins

//Center content
@mixin center($w) {
  width: $w;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
}

//Apply flexbox to containers & items//
@mixin flex-it (
  $disp: flex,
  $dir: null,
  $wrap: null,
  $just: null,
  $basis: null,
  $flex: null) {
    display: $disp ;
    flex-direction: $dir;
    flex-wrap: $wrap;
    justify-content: $just;
    flex-basis: $basis;
    flex-grow: $flex;
    margin: 5px;
    text-align: center;
    @content;
}

//Media query for screens larger than 769px//
@mixin media($size) {
  @if $size == 'lg' {
      @media (min-width: $media-break) {
          @content;
      }
  }
  @else {
      @error "'#{$size}' is not valid $size argument";
  }
}

//apply colors to buttons //
@mixin themes($map) {
  @each $theme,
    $color in $map {
      &#{$theme} {
        background-color: $color;
        color: $white;
        text-transform: uppercase;
        font-size: 1.2em;
        font-weight: $bold;
        padding: 15px;
        border-radius: 8px;
        margin-top: 30px;
        &:hover {
          background-color: lighten($color, 15%);
          cursor: pointer;
        }
    }
  }
}

//apply colors to grid items //
@mixin gridClr($map) {
  @each $grdclr, $bgcolor in $gridColor {
      .grid__#{$grdclr} {
        background-color: $bgcolor;
    }
  }
}

// shape grid items and apply breathing space above //
@mixin grid-div {
  padding: 15px;
  border-radius: 8px;
  margin-top: 10px;
  @content;
}
