// Grid

//apply grid layout rules
@for $i from 3 through 12 {
  .grid__col--#{$i}.theme__colors {
    // @include grid-div;
    @extend %grid-div;
    }
  }

//apply colors to buttons
@each $grdclr, $bgcolor in $gridColor {
    .grid__#{$grdclr}.theme__colors {
        background-color: $bgcolor;
      }
    }

//apply layout rules to large screens
@include media('lg') {
  @for $i from 3 through 12 {
    .grid__col--#{$i}.theme__colors {
      @include flex-it($just: center, $basis: colWidth($i));
        }
      }
    .grid__col--7:last-child {
      margin-left: auto;
      margin-right: auto;
  }
}
