/*----Navigation styles----*/
.nav {
  margin-top: 50px;
    @include media('lg') {
      @include flex-it($dir: row, $just: space-around);
      margin: $gutter;
    }
}

.nav__item {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;

  a {
    color: $color-text;
    text-decoration: none;
    text-align: center;
    font-size: 1.4em;
    padding: 10px 15px;
    display: block;
  }
    a:hover {
      background-color: $top-teal;
      border-radius: 5px;
      color: $white;
  }
  @include media('lg') {
    margin: 10px;
  }
}

.link {
  color: $ubiqui-blue;
  font-weight: $bold;
  text-decoration: none;
}
